body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  