<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Expert</title>
</head>
<body>
    <div class="container">
      <header>
          <h1>Welcome to Quiz Master</h1>
          <p style="color: white;">Welcome to Quiz Central, your premier destination for challenging your knowledge!</p>
      </header>
      <main>
          <button id="startQuiz" (click)="startQuiz()">Start Quiz</button>
          <div id="randomFactContainer">
            <p style="font-size: 25px; color: white;">Random fact</p>
            <div class="spinner-container">
              <mat-spinner *ngIf="isLoadingFact"></mat-spinner>
            </div>
            <p id="randomFact">{{facts[0]?.fact || ''}}</p>
        </div>
      </main>
  </div>
</body>
</html>
