body {
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
    color: #007bff;
    margin-bottom: 30px;
}

header p {
    color: #666;
    font-size: 18px;
}

#startQuiz {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#startQuiz:hover {
    background-color: #218838;
}

#randomFactContainer {
    margin-top: 90px;
    padding: 20px;
    background-color: #729ac2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #d6d8da;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#randomFact {
    color: purple;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

