
  
  #quiz-container {
    background-color: #39424e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    margin-top: 90px;
  }
  
  .question {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffd700;
  }
  
  .answer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .answer {
    width: 45%;
    margin: 10px;
    padding: 15px;
    background-color: #546e7a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
    color: #fff;
  }
  
  .answer:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .correct {
    background-color: #4caf50 !important;
    animation: correct-answer 0.5s ease-in-out;
  }
  
  .answer {
    cursor: pointer;
    width: 45%;
    margin: 10px;
    padding: 15px;
    background-color: #546e7a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
    color: #fff;
  }
  
  .correct {
    background-color: green;
    width: 45%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
    color: #fff;
  }
  
  .incorrect {
    background-color: red;
    width: 45%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
    color: #fff;
  }
  
  .correct-answer {
    color: white;
  }

  .quiz-over-container {
    text-align: center;
    padding: 20px;
    background-color: #39424e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .quiz-over-container h2 {
    color: #4CAF50;
  }

  .title {
    text-align: center;
    margin-top: 55px;
    font-size: 40px;
  }
  