body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.quiz-creation-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  color:black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#quiz-form {
  display: flex;
  flex-direction: column;
}

#quiz-form label, #quiz-form input[type="text"], #quiz-form input[type="submit"] {
  margin: 10px 0;
}

.questions-container {
  margin: 20px 0;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.question-item {
  margin: 10px 0;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #367c39;
}

.search-container {
  margin-top: 20px;
}

#question-search {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.question-count {
  margin-top: 10px;
  font-size: 1.1em;
  color: #333;
}

.questions-limit {
  margin-top: 10px;
  font-size: 1.1em;
  color: red;
}
